@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Teach Mono', monospace ;
}
#board .boardInfo{
    width: 700px;
    max-width: 540px;
}
#board{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    background-color: yellowgreen;
}
#startButton .boardInfo{
    font-size: 25px;
}
#gameOver{
    display: none;
}
.boardInfo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
#startButton{
    color: whitesmoke;
    background-color: red;
    font-weight: bold;
    font-size: large;
    border-radius: 10%;
    border: none;
    margin: 10px;
    padding: 20px;
}
#scoreBoard{
    display: inline-flex;
    background-color: aqua;

}
.square{
    aspect-ratio: 1;
}
.emptySquare{
background-color: rgb(21, 43, 35);
}
.snakeSquare{
background-color: blueviolet;
}
.foodSquare{
background-color: rgb(227, 48, 188);
}