@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Teach Mono', monospace ;
    background: rgba(245, 245, 245, 0.135);
    margin: 0;
}

.boardInfo {
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}

#board{

    display: grid;
    grid-template-columns: repeat(10,1fr);
    background-color:  rgb(19, 5, 26);
    border-radius: 10px;
    margin: 0 auto;
    
}
#startButton .boardInfo{
    font-size: 25px;
}
#gameOver{
    display: none;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    background-color: red;
    box-shadow: 10px 5px 10px rgb(153, 0, 0);
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    

}
.boardInfo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
#startButton{
    color: whitesmoke;
    background-color: green;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10%;
    border: none;
    margin: 10px;
    padding: 20px;
}
#scoreBoard{
    display: inline-flex;
    font-size: larger;
    font-weight: bold;
    
}

.square{
    aspect-ratio: 1;
    
}
.emptySquare{
background-color: rgb(19, 5, 26);
border-radius: 10px;
}
.snakeSquare{
background-color: blueviolet;
border-radius: 40%;
}
.foodSquare{
background-color: rgb(227, 48, 188);
}
h1{
    text-align: center;
    color: rgb(240, 73, 240);
    font-size:50px;
    text-shadow: 1px 1px 2px black;
}

.arrow-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}
.Arrow-Up{
    grid-column: 2 / 3;
    justify-self: center;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    background-image: url("/ArrowUp.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.Arrow-Left{
    
    grid-row: 2 / 3;
    justify-self:end;
    height: 50px;
    width: 50px;
    background-image: url("/ArrowLeft.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.Arrow-Down{
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    justify-self: center;
    height: 50px;
    width: 50px;
    background-image: url("/ArrowDown.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.Arrow-Right{
    grid-column: 3/ 3;
    grid-row: 2 / 3;
    justify-self: start;
    height: 50px;
    width: 50px;
    background-image: url("/ArrowRight.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (width < 576px) {
    #board {
        width: 340px;
        height: 340px;
    }
}

@media (  576px <= width < 992px) {
    #board {
        width: 540px;
        height: 540px;
    }
}

@media (width >= 992px) {
    #board {
        width: 600px;
        height: 600px;
    }
    .arrow-container{
        display: none;
    }
    
}